* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Hiragino Kaku Gothic ProN';
    margin: 0;
}

header {
    padding: 117px 4% 153px 4%;
    width: 960px;
    margin: 0 auto;
}

.header-left {
    float: left;
}

.header-right ul {
    display: flex;
    float: right;
    margin-top: 5px;
    margin-right: -37px;
}

.header-right li {
    font-size: 14px;
    padding-right: 30px;
}

.header-right li:hover {
    opacity: 0.7;
}

.header-right a {
    display: inline-block;
    color: #24292e;
}

.header-right img {
    width: 20px;
}

.main-visual img {
    width: 100%;
    height: 420px;
}

.contents {
    width: 960px;
    padding: 60px 4%;
    margin: 0 auto;
}

.contents h2 {
    text-align: center;
    font-size: 24px;
    padding-bottom: 25px;
    font-weight: normal;
}

.contents p {
    font-size: 14px;
    padding-top: 20px;
}

.works-img {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.works-img li {
    flex: auto;
    width: 33%;
}

.works-img img {
    width: 100%;
    padding: 0 35px 20px 0;
}

.news-dl {
    display: flex;
    border-top: 1px solid #c8c8c8;
    padding-top: 15px;
    font-size: 14px;
}

.news-dd {
    width: 20%;
    margin-left: 15px;
}

.news-dt {
    width: 80%;
}

form {
    margin-right: 100px;
}

.contact-dl {
    display: flex;
    font-size: 14px;
}

.contact-dd {
    width: 20%;
    margin-left: 0px;
}

.contact-dt {
    width: 80%;
    margin-left: -20px;
}

input {
    width: 729px;
    height: 44px;
    border: 1px solid #c8c8c8;
    border-radius: 0px;
}

textarea {
    width: 729px;
    height: 166px;
    border: 1px solid #c8c8c8;
    border-radius: 0px;
}

.submit {
    margin: 0 auto;
}

.btn {
    color: white;
    background-color: black;
    width: 200px;
    height: 52px;
    font-size: 14px;
}
